.portfolio{
    text-align:center;
}
.portfolio blockquote{
    background-color: #FAFFFC;
	border: 8px solid black;
    width: 320px;
    height:300px;
    padding: 16px;
	box-sizing: border-box;
    margin: 16px 16px;
    float:left;
}
.img-portfolio{
    width:270px;
    height: 150px;
    border-left: 10px;
}
